<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: #f1f442;
        }
        
        h0{
            font-family:'Times New Roman', Times, serif;
            font-size: 60px;
            margin: 0 0%
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            margin: 0 0%;
        }
        article{
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 25px;
        }
        #pict{
            float: left;
            margin-top: 260px;
            margin-left: 180px;
        }

        #bio{
            float: right;
        }

        #pict2 {
            float: right;
            margin: 0 7%;
        }
    </style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <div class="left">
        <section id = "pict">
        <img src = "https://78.media.tumblr.com/13b081688f74e76a5efbd86788b9e12d/tumblr_pel9vzSKI01wct16uo1_540.jpg">
        </section> 
        </div>
        <div class="right">
            <section id = "pict2">
            <img src = "https://78.media.tumblr.com/94611f1f42a6789f811c5b8546007d7a/tumblr_peluvqQ6Wn1wct16uo1_540.png">
            </section>
            <br> <br> <br>
            <section id = "bio">
            <h0>Greetings!</h0>
            <br> <br>
            <h1>Hello my name is {{ name }}</h1>
            <br> <br> 
            <article>NPM : {{ npm }}</article>
            <article>I am {{ age }} years old</article>
            </section>
        </div>
</body>

</html>
